.about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3rem;
    width: 90%;
    padding: 2rem;
    margin: 0;
  }
  
.picture {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  
img {
    border-radius: 15px;
    width: 250px;
    height: auto;
  }
  
.info {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    padding: 2px 0px;
    margin: 0;
    max-width: 100%;
  }
  
.main {
    max-height: 40%;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    row-gap: 0;
    align-items: center;
    padding: 2.5px 0;
    margin: 0;
  }
  
.name {
    font-family: "Playfair Display", serif;
    font-size: clamp(24px, 2.5vw, 48px);
    font-weight: 500;
  }
  
.pronouns {
    font-family: "Playfair Display", serif;
    font-weight: lighter;
    font-size: clamp(12px, 2.5vw, 28px);
  }
  
.tags {
    display: flex;
    flex-direction: row;
    font-size: clamp(16px, 2.5vw, 22px);
    font-weight: bold;
    column-gap: 2rem;
    padding: 2.5px 0;
    margin: 0;
  
  }
  
.bio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2.5px 0;
    margin: 0;
  }
  
p {
    font-family: "Nunito", sans-serif;
    font-weight: normal;
    font-size: clamp(20px, 2.5vw, 24px);
    text-align: left;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  
.buttons {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
  }