
.navbar-cont {
    width: 100%;
    height: 60px;
    background-color: #4f7162;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    

}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2rem;
    gap: 2rem;
}

.navbar-cont a {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: clamp(22px, 2.5vw, 24px);
    text-align: right;
    padding: 0;
    text-decoration: none;
    color: #f6fff8;
    transition: color 0.2s ease-in-out 0s;
    transition: font-size 0.2s ease-in-out 0s;
}

.navbar-cont a:hover {
    color: #A4C3B2;
    font-size: clamp(24px, 2.5vw, 26px);
}

@media (max-width: 768px) {
    .navbar-cont {
        justify-content: center;
    }
}