html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title {
    font-family: "Playfair Display", serif;
    font-size: clamp(40px, 2.5vw, 60px);
    font-weight: 550;
    text-align: center;
    justify-content: center;
    padding: 2rem 3rem 0;
    color: #4f7162;
}

.diff-title {
  font-family: "Playfair Display", serif;
  font-size: clamp(40px, 2.5vw, 60px);
  font-weight: 550;
  text-align: left;
  justify-content: center;
  padding: 2rem 3rem 0;
  color: #4f7162;
}

@media (max-width: 768px) {
  .diff-title {
    text-align: center;
  }
}



