.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    border-color: #4f7162;
    border-width: 2px;
    border-style: solid;
    width: 45%;
    height: 100%;
    justify-content: center;
    padding: 0.75rem 0rem;
    background-color: #4f7162;
    border-radius: 20px;
}

.proj-name {
    display: flex;
    justify-content: left;
    padding: 0.5rem;

}

.card h1 {
    font-family: "Playfair Display", serif;
    color: #EAF4F4;    
    font-size: clamp(24px, 2.5vw, 36px);
    font-weight: 500;
    margin: 0.5rem;
    padding: 0;
}

.proj-pic {
    display: flex;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/1;
    padding: 0.5rem 0 0 0;
    


}

.card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    border-block: 2px solid #4f7162;
}

.card h2 {
    font-family: "Nunito", sans-serif;
    font-weight: normal;
    color: #EAF4F4;
    font-size: clamp(14px, 2.5vw, 18px);
    text-align: left;
    padding: 0;
    margin: 20px 15px;
}

.card a {
    text-decoration: none;
    color: #30453c;
}

.btn-container {
    padding: 0rem 2rem;
}

@media(max-width: 768px) {
    .card {
        width: 80%;
    }
}